*{
     margin: 0%;
     padding: 0px;
}
body{
     height: 65.6%;
}
.parent{

       display: flex;
       margin: 20px 20px; 
       gap: 10px;
       flex-direction: column;
      
}
.img{
    height: 350px;
    border-radius: 10px;
}
.card{
      display: flex;
      gap: 30px;
      overflow-x: scroll;
      flex-direction: row;
}

/* grid css */

.container{
     display: flex;
     flex-direction: column;
}
/* for mobile devices */

 @media (max-width:576px) {
          
       .card{
           flex-direction: column;
       }
       .grid-container{
               display: flex;
               flex-direction: column;
       }

      .bgimg{
         display: flex;
         flex-direction: column;
         height: 100vh;
           }
      .childcard{
        display: flex;
        flex-direction: column;
              }

      .curcard{
             display: flex;
             flex-direction: column;
            }
      .logo{
         display: flex;
         flex-direction: column;
      }
      .slider{
         display: flex;
         flex-direction: row;
      }

 }

 

/* for medium devices (tablets)*/
@media (min-width: 577px) and (max-width: 768px)  {
    .card{
       display: flex;
       flex-direction: column;
        }

    .bgimg{
       display: flex;
       flex-direction: column;
       height: 100vh;
         }
    .childcard{
      display: flex;
      flex-direction: column;
            }

    .curcard{
           display: flex;
           flex-direction: column;
          }
          .logo{
            display: flex;
            flex-direction: column;
         }

    /* grid css */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two equal columns */
        grid-gap: 10px; /* Space between grid items */
      }

      .slider{
        display: flex;
        flex-direction: row;
     }
}

.childcard{
     display: flex;
}
.card_parant{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 80px;
}

.bgimg{
    
     display: flex;
     height:100%;
     background-image: url(bgimg.avif);
     background-size: cover;
     background-position: center; 
     margin: 0%;
    
}
.bgimg h1{
     color: white;
}

.curcard{
     display: flex;
     overflow-x: scroll;
}
.left{
    
     height: 40px;
     width: 400px;
     margin-left:70px;
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-between;
}

.search_bar{
     height: 30px;
     width: 300px;
     font-size: larger;
     background-color: aliceblue;
     border: none;
     outline: none;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     justify-items: center;

}
.right{

    height: 40px;
    width: 200px;
    margin-right:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
       
       display: flex;
       justify-content: center;
       align-items: center;
       justify-content:space-between;
       margin: 20px;
      
}
button{
     background-color: rgb(241, 63, 63);
       font-size: large;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 300;
     outline: none;
     border: none;
      height: 30px; 
      width: 60px;
     color: white;
     border-radius: 10px;
}

.newlogo{
     background-color: rgb(200, 211, 211);
}

.newright{
     display: flex;
     width: 250px;
}
.newdiv{
     display: flex;
      gap: 20px;
}
.oldright{
     display: flex;
     gap: 20px;
    

}


